body{
    background-color: #000;
    height: 50vh;
    display: grid;
    place-items: center;
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #f9f6ee;
    position: relative;
    box-shadow: 0 0 10px #f9f6ee,
                0 0 40px #f9f6ee,
                0 0 80px #f9f6ee;
}
.circle::after{
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #000;
    animation: eclipse 3s linear infinite alternate;
}

@keyframes eclipse{
    0%{
        transform: translate(-50px,50px)
        scale(0.9);
    }
    50%,75%{
        transform: translate(0px,0px)
        scale(1.02);
        box-shadow: 0 0 10px #f9f3f2,
                    0 0 80px 8px #c79388;
    }
    100%{
        transform: translate(50px,-50px)
        scale(0.9);
        box-shadow:none;
    }
}
.hehe{
    font-size: 100px;
    
}

p{
    text-align: center;
    
    color: #f9f3f2;
    font-size: 30px;
}