.container{
    display: inline-block;
}
.typed-out{
    overflow:hidden;
    border-right: .15em solid rgb(255, 255, 255);
    white-space: nowrap;
    animation:
    typing 250.5s steps(1470, end) forwards;

    font-size: 2rem;
    width: 0;
    
}
@keyframes typing {
    from {
        width: 10
    }
    to {
        width: 100%;
    }
}
